global
    maxconn 4096

defaults
    option tcpka
    retries 1
    timeout connect 1s
    timeout client 2s
    timeout server 2s
    timeout queue 1s


frontend fraud_front
    bind *:9999
    default_backend fraud_back

backend fraud_back
    balance roundrobin
    option httpchk GET /ready
    http-check expect status 200
    server api1 /var/run/rinha/api1.sock check maxconn 2048
    server api2 /var/run/rinha/api2.sock check maxconn 2048
